@import "tailwindcss";

:root {
    --background: #171717;
    --text-color: white;
    --angle: 0deg; /* угол старта */
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.rainbow-bg-rotate {
    background: conic-gradient(
            from var(--angle),
            #ff4800,
            #dfd902,
            #20dc68,
            #0092f4,
            #da54d8,
            #ff4800
    );
    animation: spin-gradient 4s linear infinite;
}

@keyframes spin-gradient {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
