@import "tailwindcss";

:root {
    --palitra-1: #020608;
    --palitra-2: #1C252B;
    --palitra-3: #486B85;
    --palitra-4: #93B4BC;
    --palitra-5: #CAD2CB;

    --background: var(--palitra-1);
    --text-color: var(--palitra-5);
    --angle: 0deg; /* угол старта */
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.rainbow-bg-rotate {
    background: conic-gradient(
            from var(--angle),
            #ff4800,
            #dfd902,
            #20dc68,
            #0092f4,
            #da54d8,
            #ff4800
    );
    animation: spin-gradient 4s linear infinite;
}

@keyframes spin-gradient {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


